<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.aria2</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/aria2c</string>
      <string>--enable-rpc=true</string>
      <string>--rpc-allow-origin-all=true</string>
      <string>--rpc-listen-all=true</string>
      <string>--rpc-listen-port=6800</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/tywin/Downloads</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
  </dict>
</plist>
